* {
  margin:  0;
  padding: 0;
  box-sizing: border-box;
}

.cardHighlight {
  min-height: 100%;
}


.cardCourse {
  line-height: normal;
}

.registerForm{
  line-height: 2em;
}

.spinner{
  justify-content: center;
  align-items: center;
}

.navBar{
  font-family: 'Abril Fatface', cursive;
  font-size: 2rem;

  min-height: 100px;
}

#responsive-navbar-nav {
  margin-left: 5rem;
}

.dark {
  background-color: #333;
  color: #fff;
}
.light {
  background-color: #fff;
  color: #333;
}

#productCards{
  display: inline-block;
}

.img-fluid{
  height: 200px;
  width: 200px;
}

